# root.pcf
set_io clk 21
set_io sclk 112
set_io mosi 113
set_io miso 114
set_io ssn 115
set_io wdogdisn 117
set_io pwm0[0] 62
set_io pwm0[1] 61

set_io motorena 60
set_io tach0[0] 56
set_io tach0[1] 48
set_io currentlimit0 47
set_io tstn 44
#available 45


# Green led
set_io ledaliven 95
# Red led's
set_io redled0 99
set_io redled1 98
set_io redled2 97
set_io redled3 96


# Inaccessible pins on the ICEstick
# The 4 bit pwm output on channel 0 and all of
# the last two motor channels are parked on inaccessible pins.

set_io pwm40[0] 120
set_io pwm40[1] 121
set_io pwm40[2] 122
set_io pwm40[3] 134


set_io pwm1[0] 23
set_io pwm1[1] 24
set_io tach1[0] 25
set_io tach1[1] 26
set_io currentlimit1 37
set_io pwm41[0] 135
set_io pwm41[1] 136
set_io pwm41[2] 137
set_io pwm41[3] 138

set_io pwm2[0] 28
set_io pwm2[1] 29
set_io tach2[0] 31
set_io tach2[1] 33
set_io currentlimit2 38
set_io pwm42[0] 141
set_io pwm42[1] 142
set_io pwm42[2] 143
set_io pwm42[3] 144


