# example.pcf
set_io clk 21
set_io sclk 112
set_io mosi 113
set_io miso 114
set_io ss 115
set_io pwm[0] 78
set_io pwm[1] 79
set_io motorena 80
set_io tach[0] 81
set_io tach[1] 87
set_io currentlimit 88
